robocasa/models/assets/arenas/gear_kitchen/Floor_B_0.obj filter=lfs diff=lfs merge=lfs -text
robocasa/models/assets/arenas/gear_kitchen/FingerJoint_BaseColor.png filter=lfs diff=lfs merge=lfs -text
robocasa/models/assets/robots/1x_neo/meshes/lod1/FootwToe.STL filter=lfs diff=lfs merge=lfs -text
